{{#each resultsarr}}

  <div id="content-search" class="content">
    <div class="blogs">
      <h1>{{name}}</h1>
      <p><span>Site ID:</span> {{id}}  |  <span>Keywords:</span> {{keywords}}</p>
      <p class="blog-details">Details: {{description}}</p>
    </div>
  </div>

{{/each}}

<!-- <script id="search-template" type="text/x-handlebars-template">
    {{#each resultsarr}}
    <div class="blogs">
      <h1>{{name}}</h1>
      <p>Site ID: {{id}}</p>
      <p>Keywords: {{keywords}}</p>
      <p>Details: {{description}}</p>
    </div>
    {{/each}}
</script> -->
