{{#each sites}}

<section data-id="{{site.id}}">
  <div id="content" class="content">
    <div class="blogs">
      <h2>{{name}}</h2>
      <p><span>Site ID:</span> {{id}}  |  <span>Keywords:</span> {{keywords}}</p>
      <p class="blog-details">Details: {{description}}</p>
      <p class="blog-comments">{{comments}}</p>

      <p>
        <a class="btn btn-default" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Add to this post</a>
        <button type="submit" class="btn btn-default delete-site">Remove this post</button>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              <form>
  <p>Sample sample</p>
  </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{{/each}}
